@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.font-1 {
  font-size: 20px;
}

.font-2 {
  font-size: 160px;
  color: gray;
  line-height: 1;
}

.font2-color {
  color: gray;
}

.font-3 {
  font-size: 26px;
}

.font-4 {
  font-size: 21px;
}

@media (max-width: 768px) {
  .font-2 {
    font-size: 80px;
  }
  .font-3 {
    font-size: 20px;
  }
  .font-4 {
    font-size: 18px;
  }
  .font-1 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .font-2 {
    font-size: 60px;
  }
  .font-3 {
    font-size: 18px;
  }
  .font-4 {
    font-size: 16px;
  }
  .font-1 {
    font-size: 14px;
  }
}
